.addSet p {
    display: inline-block;
    margin: 1rem;
}

.addButton {
    display: inline-block!important;
    width: auto!important;
    margin: 0!important;
    background-color: transparent;
    border-radius: 50%;
    border: 0.2em #005f73 solid;
    padding: 0.2em;
}