.createWorkoutGrid {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 5%;
    margin: auto;
    /*text-align: center;*/
}

.createWorkoutGrid .workoutDescription p {
    font-size: 1.5em;
    margin: 0 0 3rem 0;
}

.createWorkoutGrid h1 {
    font-size: 4em;
    margin: 0;
}

.workoutContent p {
    font-size: 1.5em;
}

.workoutDescription {
    display: flex;
    flex-direction: column;
}

.workoutContent button {
    display: block;
    margin: auto;
    width: 40%;
}